////////////////////////////////
//1- Patron de Colores
////////////////////////////////
$celestial: #77c9d4;
$green: #57BC90;
$darkgreen: #015249;
$grey: #a5a5af;

////////////////////////////////
//2- Modificando Variables Bootstrap
////////////////////////////////
$enable-shadows: true;
$enable-gradients: true;
$btn-border-radius-sm: .6rem;
$btn-border-radius-lg: 1rem;
$btn-border-radius: 3rem;

