.navbar{
    img{
        margin-left: 50px;
    }
    .navbar-links{
        text-decoration: none;
        color:white;
        a{
            text-decoration: none;
            color: rgba(0, 0, 0, 0.7);
        } 
    }
    .nav-dropdown{
        padding-top: 5px;
    }
    .dropdown-menu{
        max-height: 150px;
        word-wrap: break-word;
        overflow:auto;
        overflow-x: auto;
    }
    .nav-icon{
        font-size: 25px;
        color: $celestial;
        &:hover{
            color: $blue;
        }
    }
    .nav-icon-active{
        font-size: 25px;
        color: red;
    }
    .navbar-login{
        margin-right: 50px;
        width: 150px;
    } 
    i{
        margin-top: 6bonpx;
    }
}

.navbar-links__mod{
    @include title;
    font-size:2.5em;
}

////////////////////////////////
//Responsive Header
////////////////////////////////

@mixin Header-responsive-sm{
    .header__logo{
        display: none !important;
    }
    .header-title{
        display:none;
    }
    .navbar-login{
        margin-right: 0px!important;
        width: 120px!important;
    } 
    .navbar-center{
        margin-left: auto;
        margin-right: auto;
    }
    .profile{
        display: none;
    }
    .dropdown-menu{
        max-width: 300px;
        overflow-x: auto;
    }
}