.navbar{
    img{
        margin-left: 50px;
    }
    .navbar-links{
        text-decoration: none;
        a{
            text-decoration: none;
            color: rgba(0, 0, 0, 0.7);
        }
        
    }
}