$lg: 992px;
$md: 767px;
$sm: 576px;

@media all and (max-width: 992px){
}

@media all and (min-width:$md ) and (max-width: $lg){
    
}

@media all and (max-width: $md){
}

@media all and (min-width:$sm ) and (max-width: $md){
}

@media all and (max-width: $sm){
    @include SaveScreen-sm;
    @include GameStarts-sm;
    @include Footer-responsive-sm;
}